.footer {
    color: var(--text-color2);
    line-height: 1.71;
    font-style: normal;
    background-color: var(--background-color);
    letter-spacing: 0.03em;

    &__main-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    &__address-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    &__address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-style: normal;
        background-color: var(--background-color);
        margin-top: 20px;
        gap: 9px;
        font-size: 14px;

        &-item {
            color: var(--text-color3);
            text-align: center;

            :focus,
            :hover {
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
                fill: var(--hover-color);
                color: var(--hover-color);
            }
        }

        &-item.mail {
            margin-bottom: 9px;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        padding-top: 50px;

        &-title {
            text-align: center;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin: 0px 0px 20px 0px;
        }

        &-list {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        &-item {
            display: flex;
            background-color: var(--background-color3);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;

            &:focus,
            &:hover {
                background: var(--hover-color);
                cursor: pointer;
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
            }
        }

        &-svg {
            fill: var(--text-color2);
            display: flex;
        }
    }

    &__forms-group {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-block: 50px;
    }

    &__forms {
        width: 100%;
        max-width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: none;
        position: relative;
        padding: 0;
        margin: 0 0 20px 0;

        &-title {
            margin-bottom: 20px;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }

        &-mail {
            width: 100%;
            height: 50px;
            border: 1px solid var(--border-color);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background: transparent;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: var(--text3-color3);
            padding: 0 0 0 16px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__address-social-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 74px 0 61px;
        }

        &__social {
            padding: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__main-wrapper {
            flex-direction: row;
            justify-content: space-between;
            padding-block: 60px;
            align-items: center;
        }

        &__address {
            align-items: flex-start;

            &-social-wrapper {
                display: flex;
                justify-content: flex-start;
                width: initial;
                padding: 0;
            }
            
            &-group {
                justify-content: flex-start;
                align-items: flex-start;
                padding: 0;
                margin-right: 50px;
            }
            
            &-item {
                text-align: start;
            }
        }
        
        &__social {
            padding: 0;
            margin-bottom: 6px;
            justify-content: center;
            align-items: flex-start;
        }

        &__forms {
            margin: 0;
            max-width: 358px;
            justify-content: flex-start;

            &-group {
                flex-direction: row;
                justify-content: center;
                flex-wrap: nowrap;
                align-items: flex-end;
                width: 570px;
                gap: 12px;
                padding: 0;
            }

            &-title {
                display: inline;
            }
        }
    }
}