.header,
.footer {
    &__logo {
        font-family: "Raleway";
        color: var(--logo-color2);
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;

        &:focus,
        &:hover {
            color: unset;
        }
    }
}

.header__logo {
    padding-block: 16px;
    display: flex;
    align-items: center;
}

.footer__logo {
    color: var(--text-color2);
}

@media screen and (min-width: 1200px) {
    .header__logo,
    .footer__logo {
        font-size: 26px;
    }
}