@media screen and (min-width:767px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &__title {
            color: var(--hover-color);
        }

        &__list {
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            gap: 60px;
        }

        &__item {

            &:focus,
            &:hover {
                color: var(--hover-color);
            }
        }

        &__link {
            &:focus {
                transition-duration: var(--transition-duration-main);
                transition-timing-function: var(--transition-timing-function-main);
                fill: var(--hover-color);
                color: var(--hover-color);
            }

            &--current {
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    width: 53px;
                    height: 4px;
                    background: var(--hover-color);
                    border-radius: 2px;
                    transform: translateY(29px);
                }
            }
        }
    }
}